<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.pollinations.ai/prompt/movie-popcorn-happy-apes-animated);">
  <div class="container">
    <h1>Super Awesome Movie List!</h1>
  </div>
</div>
<div class="container mt-3">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.pollinations.ai/prompt/<%= list.name %>-movie);">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  <div>
    <%= link_to "Create Watchlist", new_list_path, class: "btn btn-primary mt-4"  %>
  </div>
  </div>
</div>
