<div class="container">
  <h1>Create a Watchlist</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "New Watchlist", class: "btn btn-primary mt-3" %>
  <% end %>

</div>
